@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="jumbotron text-center bg-light p-3">
        <h1 class="display-4">Benvenuto su Amazon Brutto!</h1>
        <p class="lead">Il tuo negozio online per i migliori articoli di ogni tipo.</p>
        <hr class="my-4">
        <p>Trova quello che fa per te!</p>
        <a class="btn btn-primary btn-lg mb-5" asp-area="" asp-controller="Home" asp-action="Article" role="button">I nostri Articoli</a>
    </div>

</div>
